$timeline-item-height: 20px;
$github-project-size: 270px;

#timeline {
  padding: $large-space 0px;
  @include desktop-up {
    padding: $xlarge-space + $medium-space 0px;
  }
  #project-timeline {
    .events {
      list-style-type: none;
      padding: 0px;
      @include desktop-up {
        display: flex;
        justify-content: space-between;
      }
      .event {
        display: flex;
        @include desktop-up {
          display: block;
        }
        &.future {
          opacity: 0.5;
        }
        &.current .marker {
          background: $primary-color;
          box-shadow: 0px 0px 0px 2px $primary-color;
        }
        .marker {
          display: block;
          height: $timeline-item-height;
          width: $timeline-item-height;
          border-radius: $round-radius;
          background: $success-color;
          border: 2px solid $white;
          box-shadow: 0px 0px 0px 2px $success-color;
        }
        .content {
          margin-left: $medium-space;
          margin-bottom: $small-space;
          @include desktop-up {
            margin: 0px;
            margin-top: $medium-space;
          }
          .title {
            text-transform: none;
            letter-spacing: normal;
            margin: 0px;
            @include tablet-only {
              margin-top: -4px;
            }
          }
          .date {
            @include capped-text(1px);
            font-size: 0.85rem;
            color: $medium-gray;
            margin-top: 5px;
          }
        }
      }
    }
    @include desktop-up() {
      position: relative;
      width: 100%;
      margin-top: $large-space;
      &:before {
        position: absolute;
        top: 25px;
        left: 0px;
        height: 2px;
        width: 100%;
        display: block;
        z-index: -1;
        background: $light-gray;
        content: '';
      }
    }
  }
  #github-projects {
    .projects {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: $medium-space;
      @include desktop-up {
        margin-top: $large-space;
      }
      .project {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: $medium-space;
        background: $white;
        border-radius: $extra-border-radius;
        box-shadow: 0px $small-space $large-space rgba($black, 0.1);
        cursor: pointer;
        width: $github-project-size;
        height: $github-project-size;
        transition: opacity $anim-time $anim-func,
          transform $anim-time $anim-func;
        opacity: 0.35;
        @include tablet-up {
          flex-basis: 45%;
        }
        @include widescreen-up {
          flex-basis: auto;
          width: $github-project-size;
          height: $github-project-size;
        }
        &:hover {
          transform: scale(1.05);
        }
        &.current {
          opacity: 1;
          &:hover {
            transform: none;
          }
        }
        .repo-icon {
          height: 48px;
        }
        .description {
          margin-top: 0px;
          font-size: 0.9rem;
          color: $medium-gray;
        }
      }
    }
  }
}
