@import 'variables';

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

$loading-logo-size: 80px;

#loading {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: $off-white;
  opacity: 1;
  // TODO: Move this z-index over to the OpenMined-UI
  z-index: 5;
  transition: z-index $anim-time step-end, opacity $anim-time $anim-func;
  &.not-showing {
    z-index: -1;
    opacity: 0;
  }
  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $loading-logo-size;
    height: $loading-logo-size;
    margin-top: -0.5 * $loading-logo-size;
    margin-left: -0.5 * $loading-logo-size;
    transform-origin: center center;
    animation: spin $anim-time * 4 infinite ease-in-out;
  }
}
