$process-graph-node: 80px;
$process-graph-icon: 50%;
$process-graph-big-factor: 0.6;
$process-graph-small-factor: $process-graph-big-factor / 2;

@keyframes blinkingAnimation {
  0% {
    opacity: $process-graph-small-factor;
  }

  50% {
    opacity: $process-graph-big-factor;
  }

  100% {
    opacity: $process-graph-small-factor;
  }
}

.graph {
  display: none;
  @include desktop-up {
    display: flex;
    width: 100%;
    height: $process-graph-info-height;
    justify-content: space-between;
  }
  .nodes {
    margin: 0px;
    padding-left: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .node {
      background: $black;
      border-radius: $border-radius;

      // Node types
      &.icon {
        width: $process-graph-node;
        height: $process-graph-node;
        img {
          width: $process-graph-icon;
          height: $process-graph-icon;
          margin-top: (100% - $process-graph-icon) / 2;
          margin-left: (100% - $process-graph-icon) / 2;
          transition: filter $anim-time $anim-func,
            opacity $anim-time $anim-func;
        }
      }
      &.big {
        opacity: $process-graph-big-factor;
        width: $process-graph-node * $process-graph-big-factor;
        height: $process-graph-node * $process-graph-big-factor;
      }
      &.small {
        opacity: $process-graph-small-factor;
        width: $process-graph-node * $process-graph-small-factor;
        height: $process-graph-node * $process-graph-small-factor;
      }

      // Node states
      &.active.icon img {
        opacity: 1;
      }
      &.inactive.icon img {
        opacity: 0.25;
      }
      &.has-children.still,
      &.has-children.blinking {
        &.big,
        &.small {
          background: $warning-color;
        }
      }
      &.has-children.blinking {
        &.big,
        &.small {
          animation: blinkingAnimation 2s infinite linear;
        }
      }
      &.has-children.still {
        &.big {
          opacity: $process-graph-big-factor;
        }
        &.small {
          opacity: $process-graph-small-factor;
        }
      }

      // Scientist contexts
      &.scientist.icon img {
        filter: grayscale(100%);
      }
      &.scientist.finished.icon img {
        filter: grayscale(0%);
      }

      // Mines contexts
      &.mines.red.icon img {
        // Naturally red... if not, change the color here
      }
      &.mines.green.icon img {
        filter: hue-rotate(100deg);
      }
    }
  }
  .dots {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0px $small-space;
    width: 100%;
    &.hidden .dots-track {
      opacity: 0;
    }
    .dots-track {
      &:first-child:nth-last-child(3),
      &:first-child:nth-last-child(3) ~ .dots-track {
        &:first-of-type {
          transform: translateY(45px) rotate(-30deg);
        }
        &:last-of-type {
          transform: translateY(-45px) rotate(30deg);
        }
      }
      transition: opacity $anim-time $anim-func;
    }
  }
}
