@import '../../../../../../variables';

#mission {
  p {
    font-size: 1.1rem;
    color: $medium-gray;
    line-height: 2.25rem;
    strong {
      @supports (box-decoration-break: clone) {
        border-radius: $border-radius;
        background-color: $dark-gray;
        color: $white;
        display: inline;
        padding: $small-space / 2 $small-space;
        box-decoration-break: clone;
      }
    }
  }
}
