@import 'variables';

#mission {
  padding-top: $large-space;
  @include desktop-up {
    padding-top: $large-space + $small-space;
  }
  p {
    font-size: 1.1rem;
    color: $medium-gray;
    line-height: 2.25rem;
    span {
      @supports (box-decoration-break: clone) {
        border-radius: $border-radius;
        background-color: $dark-gray;
        color: $white;
        display: inline;
        padding: $small-space / 2 $small-space;
        box-decoration-break: clone;
      }
    }
  }
}
