@import 'variables';

.section-heading {
  margin-bottom: $medium-space;
  @include tablet-up() {
    display: flex;
    align-items: center;
  }
  .heading {
    margin: 0px;
    margin-right: $medium-space;
  }
  .line {
    display: none;
    flex-grow: 1;
    height: 1px;
    background: linear-gradient(
      to left,
      rgba($light-gray, 0),
      rgba($light-gray, 1)
    );
    @include tablet-up() {
      display: block;
    }
  }
  .button {
    margin-top: $medium-space;
    margin-bottom: 0px;
    @include tablet-up() {
      margin: 0px;
    }
  }
}
