@import 'variables';

#blog-header {
  position: relative;
  &:after {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 10px;
    background: rgba($white, 0.25);
    z-index: -1;
    content: '';
  }
  .header {
    display: flex;
    flex-direction: column;
    @include tablet-up {
      flex-direction: row;
      justify-content: space-between;
      margin: $large-space 0px $medium-space 0px;
    }
    @include widescreen-up {
      margin: $xlarge-space 0px $large-space 0px;
    }
    .header-logo {
      height: 40px;
      margin: $large-space 0px $medium-space 0px;
      img {
        height: 100%;
      }
      @include tablet-up {
        margin: 0px;
      }
    }
    .header-items {
      list-style-type: none;
      margin: 0px 0px $medium-space 0px;
      padding: 0px;
      display: flex;
      flex-direction: column;
      @include tablet-up {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin: 0px;
      }
      li {
        a {
          display: block;
          padding: $small-space / 2 0px;
          font-size: 1rem;
          color: $white;
          transition: color $anim-time $anim-func;
          @include capped-text(1px);
          &:hover {
            color: $dark-gray;
          }
        }
        @include tablet-up {
          margin-left: $medium-space;
          a {
            @include capped-text(1px);
            font-size: 0.9rem;
          }
        }
        @include widescreen-up {
          margin-left: $large-space;
          a {
            font-size: 1rem;
          }
        }
      }
    }
  }
  .header-content {
    margin-bottom: $large-space;
    @include widescreen-up {
      margin-bottom: $xlarge-space;
    }
    .title {
      color: $white;
      font-size: 1.25rem;
      @include tablet-up {
        font-size: 1.75rem;
      }
    }
    .excerpt {
      line-height: 2rem;
      color: rgba($white, 0.75);
      @include tablet-up {
        font-size: 1.1rem;
        line-height: 2.2rem;
      }
    }
  }
}
