@import '../../../../variables';

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  .slides {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    margin: 0px;
    position: absolute;
    top: 0px;
    height: 100%;
    transition: left $anim-time $anim-func;
    will-change: left;
    li {
      transition: opacity $anim-time $anim-func;
      will-change: opacity;
      &:not(.current) {
        opacity: 0.25;
        pointer-events: none;
        user-select: none;
      }
    }
  }
  .arrows {
    position: absolute;
    top: 0px;
    right: $large-space;
    height: 100%;
    display: flex;
    align-items: center;
    .prev,
    .next {
      font-size: 4rem;
      cursor: pointer;
      color: $medium-gray;
      transition: color $anim-time $anim-func;
      &:hover {
        color: $dark-gray;
      }
    }
  }
}
