$member-map-height: 640px;
$member-map-dot: 10px;

#member-map {
  position: relative;
  height: $member-map-height;
  margin-top: $large-space;
  display: none;
  @include desktop-up {
    display: block;
  }
  // Hide the reference marker
  .marker-svg {
    display: none;
  }
  .mapboxgl-map {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    .mapboxgl-control-container {
      display: none;
    }
    .marker {
      display: block;
      width: $member-map-dot;
      height: $member-map-dot;
      border-radius: 1000em;
      border: 1px solid rgba($black, 0.75);
      box-shadow: 0px 0px 0px 1px $success-color;
      background: $success-color;
      transition: background $anim-time $anim-func;
      &:hover {
        background: $white;
      }
    }
  }
  @import '../../../../../../../node_modules/mapbox-gl/dist/mapbox-gl.css';
}
