$member-map-height: 640px;

#member-map {
  position: relative;
  height: $member-map-height;
  margin-top: $large-space;
  // Hide the reference marker
  .marker-svg {
    display: none;
  }
  .mapboxgl-map {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    .mapboxgl-control-container {
      display: none;
    }
    .marker {
      width: 10px;
      height: 10px;
      cursor: pointer;
      .marker-svg {
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
      }
    }
  }
  @import '../../../../../../../node_modules/mapbox-gl/dist/mapbox-gl.css';
}
