// Brand tones
$white: #fff;
$off-white: #fafafa;
$light-gray: #ccc;
$medium-gray: #808080;
$dark-gray: #323232;
$off-black: #222;
$black: #000;

// Brand hues
$primary-color: #62a4ae;
$success-color: #9bcc9a;
$warning-color: #f1bf7a;
$alert-color: #c3707c;

// Colors
$orange: #ef996b;
$turquoise: #5cb5a4;
$purple: #767ea1;

// Gradients
// You can just use @extend .COLOR-DIRECTION-gradient; in SCSS
@mixin createGradients($direction, $color1, $color2) {
  @if ($direction == 'horizontal') {
    background: linear-gradient(to right, $color1 0%, $color2 100%);
  }
  @elseif ($direction == 'diagonal') {
    background: linear-gradient(135deg, $color1 0%, $color2 100%);
  }
}

.alert-horiz-gradient {
  @include createGradients('horizontal', $alert-color, $orange);
}

.alert-diag-gradient {
  @include createGradients('diagonal', $alert-color, $orange);
}

.warning-horiz-gradient {
  @include createGradients('horizontal', $orange, $warning-color);
}

.warning-diag-gradient {
  @include createGradients('diagonal', $orange, $warning-color);
}

.success-horiz-gradient {
  @include createGradients('horizontal', $success-color, $turquoise);
}

.success-diag-gradient {
  @include createGradients('diagonal', $success-color, $turquoise);
}

.primary-horiz-gradient {
  @include createGradients('horizontal', $primary-color, $purple);
}

.primary-diag-gradient {
  @include createGradients('diagonal', $primary-color, $purple);
}
