$mobile-width: 0px;
$tablet-width: 640px;
$desktop-width: 1024px;
$widescreen-width: 1440px;

@mixin mobile-only {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet-only {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop-only {
  @media (min-width: #{$desktop-width}) and (max-width: #{$widescreen-width - 1px}) {
    @content;
  }
}

@mixin tablet-up {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop-up {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin widescreen-up {
  @media (min-width: #{$widescreen-width}) {
    @content;
  }
}

@mixin tablet-down {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop-down {
  @media (max-width: #{$widescreen-width - 1px}) {
    @content;
  }
}
