@import './general';
@import './media-queries';
@import './colors';
// Variables
$header-lineheight: 1.4;
$header-styles: (
  h1: 48px,
  h2: 40px,
  h3: 32px,
  h4: 26px,
  h5: 20px,
  h6: 16px
);
$header-factors: (
  h1: 0.6,
  h2: 0.6,
  h3: 0.65,
  h4: 0.7,
  h5: 0.8,
  h6: 0.9
);

// Functions
@mixin capped-text($spacing: 2px) {
  text-transform: uppercase;
  letter-spacing: $spacing;
  font-family: $body-font;
  font-weight: $bold-weight;
}

// Headers
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $header-lineheight;
  margin-top: $medium-space;
  margin-bottom: $small-space;
  @include capped-text();
  &.not-capped {
    text-transform: none;
    letter-spacing: normal;
    font-weight: $bold-weight;
  }
}

@for $i from 1 through 6 {
  h#{$i} {
    font-size: map-get($header-styles, h#{$i}) *
      map-get($header-factors, h#{$i});
    @include tablet-up {
      font-size: map-get($header-styles, h#{$i});
    }
  }
}

// Paragraphs
p {
  margin-bottom: $small-space;
}

// Links
a {
  text-decoration: none;
  cursor: pointer;
  color: $primary-color;
  transition: color $anim-time $anim-func;
  &:hover {
    color: darken($primary-color, 10%);
  }
}

// Decorated texts
em,
i {
  font-style: italic;
}
strong,
b {
  font-weight: $bold-weight;
}
