@import '../../../../../../variables';

#pillars {
  margin-top: $medium-space;
  @include desktop-up {
    margin-top: $large-space;
    margin-bottom: -$large-space + -$small-space;
  }
  .pillar {
    &:last-of-type .pillar-content {
      margin-bottom: -$small-space;
      @include desktop-up {
        margin-bottom: $xlarge-space + $medium-space;
      }
    }
    .icon-dots {
      display: none;
      @include desktop-up {
        display: flex;
        flex-direction: column;
        height: 100%;
      }
      .icon {
        display: block;
        margin: $small-space auto;
      }
      .dots-track {
        flex-grow: 1;
        margin: 0px auto;
      }
    }
    .pillar-content {
      margin-bottom: $medium-space;
      @include desktop-up {
        margin-bottom: $large-space;
      }
      .description {
        color: $medium-gray;
        font-size: 1.1rem;
        line-height: 2.25rem;
        margin-bottom: $medium-space;
      }
    }
  }
}
