@import 'variables';

#pillars {
  padding: $medium-space 0px;
  @include desktop-up {
    padding: $large-space 0px $medium-space 0px;
  }
  .pillar {
    &:last-of-type .pillar-content {
      margin-bottom: $xlarge-space + $medium-space;
    }
    .icon-dots {
      display: none;
      @include desktop-up() {
        display: flex;
        flex-direction: column;
        height: 100%;
      }
      .icon {
        display: block;
        margin: $small-space auto;
      }
      .dots-track {
        flex-grow: 1;
        margin: 0px auto;
        border-radius: 1000em;
        .dots-mask {
          animation: moveDots 2s infinite linear;
        }
      }
    }
    .pillar-content {
      margin-bottom: $large-space;
      .description {
        color: $medium-gray;
        font-size: 1.1rem;
        line-height: 2.25rem;
        margin-bottom: $medium-space;
      }
    }
  }
}
