@import 'variables';

$notification-width: 300px;
$notification-close-size: 40px;
$notification-padding: 10px;

@keyframes fadeInAndUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

#notifications {
  position: fixed;
  bottom: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px $notification-padding;
  z-index: $notifications-zindex;
  list-style-type: none;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  @include tablet-up {
    width: $notification-width;
  }
  .notification {
    position: relative;
    background: $primary-color;
    color: $white;
    padding: $notification-padding $notification-padding $notification-padding ($notification-padding +
          $notification-close-size);
    margin-bottom: $notification-padding;
    border-radius: $border-radius;
    box-shadow: 0px 2px 4px 0px rgba($black, 0.1);
    cursor: default;
    animation: fadeInAndUp $anim-func $anim-time * 2;
    &.success {
      background: $success-color;
      color: $off-black;
      .close {
        background: darken($success-color, 5%);
        color: $off-black;
      }
    }
    &.error {
      background: $alert-color;
      .close {
        background: darken($alert-color, 5%);
      }
    }
    .close {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: $notification-close-size;
      background: darken($primary-color, 5%);
      color: rgba($white, 0.5);
      border: 0px;
      padding: 0px;
      border-radius: $border-radius 0px 0px $border-radius;
      cursor: pointer;
      font-size: 1.5rem;
    }
  }
}
