@import '../../../../variables';
@import '../button/button';

$image-button-icon-width: 16px;

.image-button {
  display: inline-flex;
  align-items: center;
  &.inverted img {
    filter: invert(100%);
  }
  img {
    width: $image-button-icon-width;
    height: $image-button-icon-width;
    margin-right: $small-space * 1.25;
  }
  span {
    height: $image-button-icon-width * 1.25;
  }
}
