@import 'variables';

#blog {
  #posts-content {
    margin-bottom: $large-space;
    @include desktop-up {
      margin-bottom: $xlarge-space;
    }
    #digs-filter {
      list-style-type: none;
      padding: 0px;
      margin-top: $large-space;
      margin-bottom: -$small-space;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      li {
        margin-bottom: $small-space;
        &:not(.digs-filter-description) {
          margin-right: $small-space;
          background: $light-gray;
          border-radius: $border-radius;
          opacity: 0.5;
          transition: opacity $anim-time $anim-func;
        }
        &.digs-filter-description {
          font-weight: $bold-weight;
          margin-right: $small-space;
        }
        &:hover {
          opacity: 1;
        }
        &:last-of-type {
          margin-right: 0px;
        }
        a {
          display: block;
          padding: $small-space / 2 $small-space;
          color: $dark-gray;
          white-space: nowrap;
        }
      }
    }
    #more-posts {
      text-align: center;
      button {
        margin: $medium-space 0px $large-space 0px;
      }
    }
  }
}
