@import 'variables';

#footer-links {
  background: darken($dark-gray, 7%);
  padding: $large-space 0px;
  .footer-container {
    @include desktop-up {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .footer-items {
      list-style-type: none;
      padding: 0px;
      display: flex;
      flex-direction: column;
      @include desktop-up {
        flex-direction: row;
        align-items: center;
      }
      li {
        &.logo {
          a {
            height: 40px;
            margin: 0px 0px $medium-space 0px;
            @include desktop-up {
              margin: 0px;
            }
            img {
              height: 100%;
              margin-right: $medium-space;
            }
          }
        }
        a {
          display: block;
          height: 24px;
          @include capped-text(1px);
          margin: $small-space / 2 0px;
          font-size: 1rem;
          color: $white;
          transition: color $anim-time $anim-func;
          &:hover {
            color: $primary-color;
          }
          @include desktop-up {
            margin: 2px 0px 0px $medium-space;
            height: auto;
            font-size: 0.9rem;
          }
        }
      }
    }
    .social-media {
      list-style-type: none;
      padding: 0px;
      display: flex;
      justify-content: space-around;
      li {
        width: 100%;
        text-align: center;
        a {
          width: 100%;
          display: block;
          font-size: 1.5rem;
          color: rgba($white, 0.5);
          transition: color $anim-time $anim-func;
          &:hover {
            color: $white;
          }
          @include desktop-up {
            font-size: 1.25rem;
            margin-left: $medium-space;
            display: inline;
            width: auto;
          }
        }
      }
    }
  }
}
