#github-projects {
  .projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px auto $medium-space auto;
    @include desktop-up {
      margin: $large-space auto;
    }
    .project {
      display: flex;
      align-items: center;
      background: $white;
      padding: $medium-space;
      margin-bottom: $medium-space;
      border-radius: $border-radius;
      box-shadow: 0px $small-space $medium-space rgba($black, 0.1);
      width: 100%;
      cursor: pointer;
      opacity: 0.35;
      transition: opacity $anim-time $anim-func;
      @include tablet-up {
        width: 48%;
      }
      @include desktop-up {
        width: 32%;
      }
      &.current,
      &:hover {
        opacity: 1;
      }
      .repo-icon {
        height: 40px;
        width: 40px;
        margin-right: $small-space;
      }
      .info {
        overflow: hidden;
        .heading {
          font-size: 1.1rem;
          margin-top: 0px;
          margin-bottom: 0px;
        }
        .description {
          margin: 0px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          color: $medium-gray;
        }
      }
    }
  }
  .contributors {
    list-style-type: none;
    padding: 0px;
    .contributor {
      a {
        display: flex;
        align-items: center;
        margin-bottom: $medium-space;
        &:hover .login {
          color: $primary-color;
        }
        .avatar {
          height: 48px;
          width: 48px;
          display: block;
          border-radius: $round-radius;
          background-size: cover;
          background-position: 50% 50%;
        }
        .login {
          font-weight: $bold-weight;
          margin: 0px;
          margin-left: $small-space;
          color: $black;
          transition: color $anim-time $anim-func;
        }
      }
    }
  }
  .issues {
    list-style-type: none;
    padding: 0px;
    .no-issues span {
      color: $medium-gray;
    }
    .issue {
      display: flex;
      margin-bottom: $medium-space;
      .fa-github {
        font-size: 1.5rem;
        height: 24px;
        display: block;
        margin-right: $medium-space;
        opacity: 0.25;
      }
      a {
        display: block;
        &:hover .title {
          color: $primary-color;
        }
        .title {
          margin: 0px;
          font-size: 1.1rem;
          font-weight: $bold-weight;
          color: $black;
          transition: color $anim-time $anim-func;
        }
        .meta {
          margin: 0px;
          font-size: 0.9rem;
          color: $medium-gray;
        }
      }
    }
  }
}
