body {
  font-family: 'Rubik', sans-serif;
}

/* Define other default styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik', sans-serif;
  font-weight: 700; /* Assuming you want headings to be bold */
}

main h2 {
  font-size: 2em;
}

p {
  font-family: 'Rubik', sans-serif;
  font-weight: 400; /* Regular font weight for paragraph text */
}

#footer {
  background: #2d2b3a;
  color: white;
  height: 3em;
}
#footer a {
  color: white;
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}

#header {
  height: 5em;
}

#header {
  height: 5em;
}

#body_logo {
  margin: 0 auto 2em auto;
  height: auto;
  max-height: 9em;
}

#header_logo {
  height: auto;
  width: auto;
  max-height: 1.5rem;
}

#connect_logos {
  display: flex;
  align-items: center;
}

#connect_logos span {
  font-size: 0.8rem;
  line-height: 1;
}
#partnerships {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.main_partnerships img {
  height: auto;
  max-height: 10em;
}

#connect_logos a {
  padding: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#connect_logos a:last-child {
  margin-right: 0;
}

.svg-icon {
  filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(270deg) brightness(0%)
    contrast(100%);
}

.learn_panel {
  padding: 1rem;
  border-top: 1px solid black;
  border-right: none;
  border-bottom: none;
  border-left: none;
  border-radius: 0;
  min-height: 200px;
}

.learn_panel img {
  height: 2rem;
  width: auto;
  margin-right: 1rem;
}

.learn_panel h3 {
  font-weight: bold;
}

.get-involved-container {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  gap: 5%;
}

.get-involved-container h2 {
  margin-bottom: 1em;
  padding-bottom: 0.2em;
  border-bottom: 1px solid black;
}

.get-involved-buttons {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.get-involved-buttons a {
  background: #2d2b3a;
  color: white;
  transition: background-color 0.3s, color 0.3s;
  padding: 1em;
  margin-bottom: 1em;
  border: none;
  font-size: 1.2em;
  text-align: left;
  position: relative;
  border-radius: 0.25rem; /* Rounded corners */
}

.get-involved-buttons a:hover {
  background: white;
  color: #2d2b3a;
}

.get-involved-image {
  flex: 1 1 45%;
  padding: 1em;
}
.get-involved-image img {
  width: 100%;
  height: auto;
  border-radius: 0.3125em;
}
@media (max-width: 768px) {
  .get-involved-container {
    flex-direction: column;
  }
  .get-involved-buttons,
  .get-involved-image {
    flex-basis: 100%;
  }
}

.logo-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  height: 5rem;
  width: auto;
}

/* Media query for mobile screens */
@media (max-width: 768px) {
  .logo-container {
    flex-wrap: wrap; /* Allow wrapping in mobile mode */
  }
  .logo-container img {
    flex-basis: 100%; /* Make each logo take the full width on mobile */
    justify-content: center; /* Center logos horizontally */
    margin-bottom: 1rem; /* Add some space between the logos */
  }
}

.centered-paragraph {
  text-align: center; /* Center the text */
}

#news {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem; /* Increase gap between grid items */
}

@media (min-width: 768px) {
  #news {
    grid-template-columns: repeat(
      3,
      1fr
    ); /* 3 columns on medium devices and up */
  }
}

.news_panel {
  display: flex;
  flex-direction: column;
  padding: 1rem; /* Add padding inside each news panel */
  min-height: 500px;
}

.news_panel img {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Drop shadow for images */
}

.news_panel h3 {
  margin-bottom: 0.5rem; /* Space below the heading */
}

.news_panel p {
  flex-grow: 1; /* Allow paragraph to fill available space */
  font-size: 0.875rem; /* Smaller font size for paragraph text */
  margin-bottom: 1rem; /* Space above the 'Read more' button */
}

.news_panel a {
  text-decoration: none; /* Remove underline from links */
}

.read-more-button {
  display: block;
  text-align: center;
  background-color: #2d2b3a; /* Dark grey background */
  color: white; /* White text */
  padding: 0.5rem 1rem; /* Padding for size */
  border-radius: 0.25rem; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.read-more-button:hover {
  background-color: #4b489d; /* Lighter grey on hover */
}

.button-link {
  text-decoration: none;
  display: inline-flex;
}
