@import '../../../../variables';

$orange: #ffc474;
$green: #addda4;
$blue: #509fb6;
$magenta: #ab3a7b;

@keyframes fades {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.background-gradient {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: $gradient-zindex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
